@import "tailwindcss";

/* Regular and Variations */
@font-face {
    font-family: 'MyCustomFont';
    src: url('/src/assets/fonts/SFUIDisplay-Regular.otf');
    font-weight: 400; /* Regular */
    font-display: swap;
  }
  
  @font-face {
    font-family: 'MyCustomFont';
    src: url('/src/assets/fonts/SFUIDisplay-Light.otf');
    font-weight: 300; /* Light */
    font-display: swap;
  }
  
  @font-face {
    font-family: 'MyCustomFont';
    src: url('/src/assets/fonts/SFUIDisplay-Bold.otf');
    font-weight: 700; /* Bold */
    font-display: swap;
  }
  
  /* Special Black Font */
  @font-face {
    font-family: 'AnotherFont';
    src: url('/src/assets/fonts/SFUIDisplay-Black.otf');
    font-weight: 900; /* Black */
    font-display: swap;
  }
  
  /* Apply Global Font */
  :root {
    --font-primary: 'MyCustomFont', sans-serif;
    --font-black: 'AnotherFont', sans-serif;
  }
  
  body {
    font-family: var(--font-primary);
  }
  
/* :root{
    font-family: 'MyCustomFont';
} */

@layer components {
    .custom-card {
      @apply bg-psecondary ;
    }
}