@import "tailwindcss";

/* *{
    margin: 0px;
} */

/* Regular and Variations */
@font-face {
    font-family: 'MyCustomFont';
    src: url('/src/assets/fonts/SFUIDisplay-Regular.otf');
    font-weight: 400; /* Regular */
    font-display: swap;
  }
  
  @font-face {
    font-family: 'MyCustomFont';
    src: url('/src/assets/fonts/SFUIDisplay-Light.otf');
    font-weight: 300; /* Light */
    font-display: swap;
  }
  
  @font-face {
    font-family: 'MyCustomFont';
    src: url('/src/assets/fonts/SFUIDisplay-Bold.otf');
    font-weight: 700; /* Bold */
    font-display: swap;
  }
  
  /* Special Black Font */
  @font-face {
    font-family: 'AnotherFont';
    src: url('/src/assets/fonts/SFUIDisplay-Black.otf');
    font-weight: 900; /* Black */
    font-display: swap;
  }
  
  /* Apply Global Font */
  :root {
    --font-primary: 'MyCustomFont', sans-serif;
    --font-black: 'AnotherFont', sans-serif;
  }
  
  

  body {
    font-family: var(--font-primary);
  }
  
/* :root{
    font-family: 'MyCustomFont';
} */

@layer components {
    .custom-card {
      /* @apply bg-psecondary ; */
    }
}

.scrollb-none{
    scrollbar-width: none; /* Hide scrollbar on Firefox */
    -ms-overflow-style: none;
}
.scrollb-none::-webkit-scrollbar {
    display: none;
  }

.chips-container {
    display: flex;
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Prevents wrapping */
    gap: 5px;
    /* padding: 10px; */
    scrollbar-width: none; /* Hide scrollbar on Firefox */
    -ms-overflow-style: none; /* Hide scrollbar on IE/Edge */
  }
  
  /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
  .chips-container::-webkit-scrollbar {
    display: none;
  }
  
  @media screen and (min-width: 1168px) {
    .chips-container{
        justify-content: center;
    }
  }

  .chip {
    padding: 8px 16px;
    /* padding-top: px; */
    border-radius: 10px;
}


  .chip:active{
    background: white;
    color: black;
    transform: scale(90%);
  }



  .font-boldnblack{
    font-family: 'AnotherFont';
  }

  
  @layer utilities {
      .h-dvh-minus-10 {
          @media (min-width: 768px) { /* md breakpoint is 768px */
            height: calc(100dvh - 100px);
        }
    }
    .font-h{
      font-family: 'MyCustomFont';
      font-weight: 400;
    }
    .boldonse{
        font-family: 'Boldonse', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 1px;
    }
    .line-h{
        line-height: 40px;
    }
    .line-hx{
        line-height: 60px;
    }

    .glassmorpho{
        background-color: transparent;
        -webkit-backdrop-filter: blur(40px);
        backdrop-filter: blur(40px);
        background-image: linear-gradient(
            120deg,
            rgba(111, 0, 185, 0.199),
            rgba(255, 255, 255, 0.311)
            /* rgba(0, 255, 213, 0.368) */
        );
        background-size: 20px;   
    }

    .h-at-min{
        min-height: 100vh;
    }

    .w-at-min{
        min-width: 60%;
    }

    .colorsed{
        color: rgb(0, 255, 106);
    }

    .blck:active{
        background: #6d6565d0;
        color: white;
    }
}


#root{
    background-image: url('./assets/bg.png');
    background-size: 100vw;
    background-position: center;
  }
